{% extends 'biology/base.html' %}

{% block title %}Квиз: {{ lesson.title }}{% endblock %}

{% block content %}
    <h1>Квиз по уроку: {{ lesson.title }}</h1>

    {% if score %}
        <h2 style="color: #28a745;">{{ score }}</h2>
        <a href="{% url 'lesson_detail' lesson.id %}" class="btn btn-primary">Вернуться к уроку</a>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {% for q in questions %}
                <div style="margin-bottom: 15px;">
                    <label><b>{{ q.question }}</b></label><br>
                    <input type="text" name="{{ q.id }}" required>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Проверить ответы</button>
        </form>
    {% endif %}
{% endblock %}
